:root {
	--borline: 0px solid #000; /* try with 1px and 0px for border ON and border OFF */
  }

/*xxxxxxxxxx megcsinalni a sorkihuzast xxxxxxxxxxxxxx*/

body {
	font-family: 'Courier Prime', monospace; /*font-family: source-sans-pro;*/
	/*background-image: url('../images/topography.png');*/
	background-image: url('topography.png');
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	font-style: normal;	/*font-weight: 300;*/
}
.box1{
    margin: 10px;
    padding: 10px;
    border: var(--borline); /* border ON / OFF */
    width: auto;
    height: auto;
}
.box2{
    margin: 10px;
    padding: 10px;
    border: var(--borline); /* border ON / OFF */
    width: auto;
    height: auto;
}
.box2 h2{
	/* font */
	margin-top: 2px;
	font-weight: normal;
	margin-left: 200px;
	font-size: 22px;
}
.box2 h3{
	/* font */
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 200px;
	font-size: 24px;
}
.box2 ul li{
	/* font */
	margin-left: 200px;
	font-size: 18px;
}
.box2 p{
	/* font */
	margin-left: 200px;
	font-size: 18px;
}
.box3{
    margin: 10px;
    padding: 10px;
    border: var(--borline); /* border ON / OFF */
    width: auto;
    height: auto;
	text-align: center;
	font-size: 24px;
}

header {
	width: 98%;
	/*margin-left: auto;
	margin-right: auto;*/
	margin: 10px;
    padding: 10px;
    border: none;
	height: 80px;
	width: auto;
	background-color: #333333;
	text-align: right;
}
header ul {
	/*list-style: none;*/
	float: right;
}
header ul li {
	float: left;
	font-size: 30px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
header ul li a {
	color: #FF0099;
	/* text-decoration: none; */
}
.logo {
	font-weight: bold;
	float: left;
	margin-top: 8px;
	margin-left: 200px;
	letter-spacing: 4px;
}
.box2 section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto; /*120px;*/
	background-color: transparent;
	text-align: left;
}
.box2 section h1 {
	/*float: left;*/
	/*margin-top: 150px;*/
	font-size: 100px;
	/*text-align: left;*/
	margin-left: 200px;
	margin-right: 25px;
	letter-spacing: 8px;
	font-weight: bold;
}
.box2 section h2 {
	/*float: left;*/
	font-size: 50px;
	/*text-align: left;*/
	/*margin-top: 10px;	*/
	margin-left: 200px;
	margin-right: 25px;
	margin-bottom: 5px;
	font-stretch: ultra-condensed;
	letter-spacing: -2px;
	color: #FF0099;
	/*font-weight: normal;*/
}
article{
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: transparent;
	text-align: left;
}
article h2{
	/*float: left;*/
	font-size: 36px;
	text-align: left;
	margin-top: 10px;	
	margin-left: 200px;
	margin-right: 25px;
	font-stretch: ultra-condensed;
	letter-spacing: -2px;
	font-weight: normal;
}
